menu .authorization {
    float: right;
    text-align: right;
    padding: 10px 0 10px 0;
}
.authorization a {
    background-color: transparent;
    border: 0;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.authorization a:hover {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    border: none;
}