@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

menu .authorization {
    float: right;
    text-align: right;
    padding: 10px 0 10px 0;
}
.authorization a {
    background-color: transparent;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-decoration: #67C03C underline;
    color: black;
}

.authorization a:hover {
    color: black;
    border: none;
    font-weight: bold;
}