body {
    font-family: 'Comfortaa', sans-serif;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}
menu {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 76px;
    font-family: 'Comfortaa', cursive;
    overflow: hidden;
}
header {
    padding: 20px;
    background-color: white;
}
.page_name {
    float: left;
    padding: 10px 0 10px 0;
}
.page_name a{
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    background-color: transparent;
    border: 0;
}
.page_name a:hover {
    text-shadow: 5px 0 0 rgba(27, 214, 72, 0.4);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    background-color: transparent;
    border: none;
    border: 0;
}

footer {
    text-align: center;
    margin: 0 0 0 0;
    padding: 10px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}
footer ul li {
    list-style-type: none;
}
footer ul {
    margin: 0;
    padding: 0;
}
footer a {
    text-decoration: none;
    font-size: 15px;
    color: white;
}
footer a:hover {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}