@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.menu {
    height: 55px;
}

.sub_nav_main {
    font-family: 'Montserrat', sans-serif;;
}

.sub_nav {
    font-family: 'Montserrat', sans-serif;
    float: right;
    text-align: right;
    overflow: hidden;
    padding: 16.8px 0 16.8px 0;
}

.sub_nav a {
    font-weight: 300;
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 10px;
}

h1 {
    text-align: left;
    font-size: 32px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
}

.sub_nav_content {
    display: none;
    position: absolute;
    right: 0;
    width: 200px;
    font-weight: 300;
    z-index: 1;
    margin: 11px 20px 20px 20px;
}

.sub_nav_content a {
    font-size: 15px;
}

.sub_nav:hover .sub_nav_content {
    display: block;
}

.sub_nav:hover .sub_nav_main {
    background-color: rgba(20, 145, 13, 0.7);
    border-radius: 50px;
}

.sub_nav ul li {
    float: right;
    list-style-type: none;
    padding: 10px 0 10px 0;
    border-radius: 50px;
    width: fit-content;
}

.sub_nav ul li:hover {
    background-color: rgba(20, 145, 13, 0.5);
}

.sub_nav ul {
    margin: 0;
    padding: 0;
}

.photo {
    width: 240px;
    height: 320px;
    /*background: #d9d9d9;*/
    float: left;
    margin-left: 40px;
    margin-right: 40px;
}

.sight_photo {
    width: 240px;
    height: 320px;
    float: left;
}

.sight {
    margin-left: 60px;
    margin-right: 60px;
    align-items: center;
}

.info {
    width: 80%;
    margin: 40px;
}


#b1, #b2, input[type="submit"] {
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    border: none; /* Убираем рамку */
    background-color: #67C03C;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    padding: 10px 15px 10px 15px;
    margin-right: 10px;
    margin-top: 30px;
    align-items: center;
}

#allComments {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: black;
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    text-align: left;
    padding-bottom: 15px;
    margin-top: 40px;
}

#allComments:hover {
    text-decoration: #67C03C underline;
    color: black;
    font-weight: bold;
}

.other {
    margin-left: 80px;
    margin-top: 20px;
    text-align: left;
    margin-bottom: 30px;
}

#comment {
    height: 150px;
    width: 60%;
    border: 1px solid black;
    color: black;
}

.buttons {
    margin-left: 80px;
    margin-top: 20px;
    text-align: left;
    margin-bottom: 30px;
}

#b3 {
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    border: 1.5px solid #67C03C;
    background: white;
    border-radius: 8px;
    color: #f8b800;
    font-size: 16px;
    padding: 10px 15px 10px 15px;
    margin-right: 10px;
    margin-top: 30px;
    align-items: center;
}

/*#b3:hover {
    outline: none; !* Убираем свечение в Chrome и Safari *!
    -webkit-appearance: none; !* Убираем рамку в Chrome и Safari *!
    border: 1.5px solid #67C03C;
    background: white;
    border-radius: 8px;
    color: #f8b800;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px 10px 15px;
    margin-right: 10px;
    margin-top: 30px;
    align-items: center;
}*/

.user_comment {
    min-height: 70px;
    width: 70%;
    margin-left: 80px;
    margin-right: 60px;
    text-align: left;
    border-left: 3px solid #67C03C;
}

#user_name {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: black;
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    text-align: left;
}

.user_comment > p {
    font-weight: normal;
    font-size: 15px;
    color: black;
}

.cm {
    padding: 0 0 0 10px;
}



.carousel {
    position: relative;
    width: 50%;
    height: 400px;
    padding: 10px 40px;
    /*border: 1px solid #CCC;*/
    border-radius: 15px;
    background: #eee;
    margin: 0 auto;
}

.carousel img {
    width: 600px;
    height: 400px;
    /* делаем этот элемент блочным, чтобы убрать лишнее пространство вокруг картинок */
    /*display: block;*/
}

.arrow {
    position: absolute;
    top: 190px;
    padding: 0;
    background: #eee;
    border-radius: 15px;
    border: 1px solid #9f9f9f;
    font-size: 24px;
    line-height: 24px;
    color: #444;
    display: block;
    /*left: 10px;*/
    /*right: 10px;*/
}

.arrow:focus {
    outline: none;
}

.arrow:hover {
    background: #ccc;
    cursor: pointer;
}

.prev {
    left: 2px;
}

.next {
    right: 2px;
}

.gallery {
    width: 600px;
    overflow: hidden;
    margin: 0 auto;
}

.gallery ul {
    height: 400px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    /* удаляем пустое пространство между элементами li, у которых установлен inline-block */
    /* http://davidwalsh.name/remove-whitespace-inline-block */
    font-size: 0;
}

.gallery li {
    display: inline-block;
}